.todos {
	min-width: 50%;
}
.todo-list {
	padding-top: 10px;
}

.todo-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}

.todo-item__done {
	text-decoration: line-through;
	color: #ccc;
}
